@import url("_fonts.css");

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif;
    padding: 16px;
    margin: 0;
    height: 100%;
}

#root {
    min-height: 100%;
}

h1 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0075em;
    margin: 0;
}
